* {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #80d8ff;
    color: white;
}

body {
    font-family: "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    background: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: HY-WenHei;
    src: url("res/HYWenHei-85W-GI-sub.woff2");
}

.w {
    width: 100%;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 64px;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    padding: 10px;
    box-shadow: 0 5px 15px rgba(30, 30, 30, 0.4);
    user-select: none;
    -moz-user-select: none;
}

.header img {
    height: 50px;
    margin: 7px 0 0;
    /*居中补齐*/
    vertical-align: middle;
}

.header h1 {
    position: absolute;
    top: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #8f8f8f;
    padding: 0 10px;
    line-height: 84px;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: url("img/banner_static.jpg");
    background-size: cover;
    overflow: hidden;
}

.banner .bannerMask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0) 100%);
}

h2.down {
    width: 100%;
    margin-bottom: 30px;
    color: #8f8f8f;
    font-size: 15px;
    text-align: center;
}

.banner video {
    /*margin: auto;*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    margin-top: 84px;
    width: 75%;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.8);
    user-select: none;
    font-family: HY-WenHei;
}

@media screen and (max-width: 1000px) {
    .banner h2 {
        font-size: 30px;
        width: 80%;
    }

    .banner p {
        font-size: 20px;
        margin-right: -20px !important;
    }
}

.banner h2::-moz-selection,
.banner h2 p::-moz-selection {
    background-color: rgba(255, 255, 255, 0.6);
}

.banner h2::selection,
.banner h2 p::selection {
    background-color: rgba(255, 255, 255, 0.6);
}

.banner h2 p {
    text-align: right;
    margin-top: 50px;
    margin-right: -50px;
}

.selectionHeader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectionHeader h2 {
    margin-bottom: 5px;
    font-size: 30px;
}

.underline {
    display: inline-block;
    width: 150px;
    height: 3px;
    background-color: skyblue;
    border-radius: 1.5px;
}

.productShow {
    box-sizing: border-box;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    max-width: 600px;
    width: 95%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(187, 187, 187, 0.6);
    background: white;

    transition: all .5s ease-out;
}

.productShow.wide {
    max-width: none;
}

.productShow.special {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    /* box-shadow: none; */
}

.productShow .furryhubLogo {
    width: 200px;
}

.productShow .sparkBoardLogo {
    width: 360px;
    margin: 20px;
}

@media screen and (max-width: 1000px) {
    .productShow .sparkBoardLogo {
        width: 270px;
    }
}

.productShow .ataPlusLogo {
    width: 100px;
}

.productShow h3 {
    margin: 10px;
    font-size: 23px;
    font-weight: 400;
}

.productShow h4 {
    font-size: 23px;
    font-weight: 400;
}

.productShow h4.ataPlus {
    color: #3cbaec;
}

.productShow h4.furryhub {
    background: rgb(0, 180, 255);
    background: linear-gradient(135deg, rgba(0, 180, 255, 1) 0%, rgba(166, 111, 255, 1) 50%, rgba(255, 111, 130, 1) 100%);
    background-size: 33% 100%;
    color: transparent;
    background-clip: text;
}


.productShow p {
    color: #989898;
    margin: 15px 0;
}

.productShow .btnDownload {
    margin: 0 20px auto;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    /* background-color: #3cbaec; */
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: white;
    user-select: none;
    -moz-user-select: none;

    transition: all .5s ease-out;
}

.productShow .btnDownload.btnDownload:hover:not(.disabled) {
    box-shadow: -1px -1px 10px 0 rgba(0, 200, 255, 0.5), 1px 1px 10px 0 rgba(146, 254, 257, 0.5);
}

.productShow .btnDownload.disabled {
    background: gray;
}

.footer {
    margin: 20px;
    width: clac(100% - 20px);
    text-align: center;
}

.footer #upyun {
    width: 50px;
}

.footer p {
    font-size: 15px;
    color: #989898;
}

.footer img {
    width: 15px;
    vertical-align: sub;
}

.productShow.yuque {
    background: #ebfaf2;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.3) 40%),
        url("img/yuque.svg") -40% bottom / 50% 90% no-repeat;
}

.productShow .btnDownload.yuque-btn {
    background: #6cce6a;
}